In [9]:
import scipy.stats as sp
import numpy as np 
import pandas as pd

misto = ["Praha", "Brno", "Znojmo", "Tišnov", "Rokytnice nad Jizerou", "Jablunkov", "Dolní Věstonice", "Moje okolí"]
odpoved = ["Zimní čas", "Letní čas", "Střídání časů", "Nemá názor"]

pocet_respondentu = [1327, 915, 681, 587, 284, 176, 215, 20]
zimni_cas = np.array([510, 324, 302, 257, 147, 66, 87, 1])
letni_cas = np.array([352, 284, 185, 178, 87, 58, 65, 6])
stridani = np.array([257, 178, 124, 78, 44, 33, 31, 8])
nema_nazor = np.array([208, 129, 70, 74, 6, 19, 32, 5])

data =  np.array([zimni_cas, letni_cas, stridani, nema_nazor])

misto = ["výborný", "velmi dobry", "dobry", "spatny"]
zs = np.array([9, 15, 4, 4])
ss = np.array([6, 11, 14, 5])
vs = np.array([5, 7, 10, 13])

data =  np.array([zs, ss, vs])

df = pd.DataFrame(data, columns=misto)

# Celkovy pocet respondentu
n = df.sum().sum()

column_sums = data.sum(axis=0)
row_sums = data.sum(axis=1)

cetnost = list()
for row_index, row in enumerate(data):
    cetnost.insert(row_index, [])
    for column_index, number in enumerate(row):
        cetnost[row_index].insert(column_index, (column_sums[column_index] * row_sums[row_index]) / n)

df = pd.DataFrame(cetnost, columns=misto)

display(df)

mezivysledek = data - cetnost

vysledek = mezivysledek**2 / cetnost

df = pd.DataFrame(vysledek, columns=misto)

display(df)

test = df.sum().sum()

print('Testovaci kriterium: ', test)

# zimni_cas_p = zimni_cas/pocet_respondentu
# letni_cas_p = letni_cas/pocet_respondentu
# stridani_p = stridani/pocet_respondentu
# nema_nazor_p = nema_nazor/pocet_respondentu

# data_p = [zimni_cas_p, letni_cas_p, stridani_p, nema_nazor_p]
# df_p = pd.DataFrame(data_p, columns=misto, index=odpoved)

# # pravdepodobnosti = np.array([0.25, 0.25, 0.25, 0.25])

,Praha,Brno,Znojmo,Tišnov,Rokytnice nad Jizerou,Jablunkov,Dolní Věstonice,Moje okolí
0,534.586920,368.611177,274.343401,236.475149,114.410464,70.902259,86.613555,8.057075
1,383.425684,264.381688,196.769322,169.608799,82.059453,50.853746,62.122473,5.778835
2,237.629251,163.851367,121.948395,105.115577,50.856599,31.516766,38.500595,3.581451
3,171.358145,118.155767,87.938882,75.800476,36.673484,22.727229,27.763377,2.582640

,Praha,Brno,Znojmo,Tišnov,Rokytnice nad Jizerou,Jablunkov,Dolní Věstonice,Moje okolí
0,1.130811,5.399069,2.788066,1.781454,9.283048,0.338948,0.001724,6.181189
1,2.575658,1.455767,0.703956,0.415145,0.297455,1.004232,0.133288,0.008464
2,1.579039,1.221740,0.034515,6.994724,0.924422,0.069804,1.461248,5.451305
3,7.835201,0.995274,3.659399,0.042766,25.655120,0.611260,0.646498,2.262658

Testovaci kriterium:  92.94324868871988